.display-none{
    display: none;
}
.display-block{
    display: block;
}
.popup-container {
    position: fixed;
    bottom: -100%;
    background-color: #f0f0f0;
    transition: bottom 0.8s ease-in-out;
    z-index: 1;
    width:120px;
    height: 120px;
    right:0;
    margin-right: 80px;
    border: 1px solid black;
}

.popup-container.show {
    bottom: 0;
}