@inherits LayoutComponentBase
@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager navManager
<PageTitle>HealthCare.WebApp</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <NavLink href="">
                        <button class="btn btn-primary" @onclick=Logout>Log out</button>
                    </NavLink>
                </Authorized>
                <NotAuthorized>
                    <NavLink href="/login">
                        <button class="btn btn-primary">Log in</button>
                    </NavLink>
                    <NavLink href="/register">
                        <button class="btn btn-success">Register</button>
                    </NavLink>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private async Task Logout()
    {
        var customAuthStateProvider = (AuthStateProvider)authStateProvider;
        await customAuthStateProvider.UpdateAuthenticationState(null);
        navManager.NavigateTo("/", true);
    }
}