@inherits LayoutComponentBase

<PageTitle>HealthCare.WebApp</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @* If not logged in show login button other show log out. *@
            @* Comment out the Authorized for now since backend must be done *@
            @* <AuthorizeView>
                <Authorized> *@
                    <NavLink class="nav-link" href="@* redirect to login page*@">
                        <button class="btn btn-primary">Log out</button>
                    </NavLink>
              @*   </Authorized>
                <NotAuthorized> *@
                    <NavLink class="nav-link" href="/login">
                        <button class="btn btn-primary">Log in</button>
                    </NavLink>
                    <NavLink class="nav-link" href="/register">
                        <button class="btn btn-success">Register</button>
                    </NavLink>
          @*       </NotAuthorized>
            </AuthorizeView> *@

        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

