.feedback {
    margin-top: 7rem;
}

.feedback-table {
    width: 90%;
}

    .feedback-table table {
        width: 100%;
        border-collapse: collapse;
    }


    .feedback-table th, .feedback-table td {
        text-align: left;
        padding: 8px;
        border: 1px solid black;
    }

    .feedback-table th {
        background-color: #1474bb;
        color: white;
    }

        .feedback-table th:nth-child(1),
        .feedback-table td:nth-child(1) {
            width: 8%;
        }

        .feedback-table th:nth-child(2),
        .feedback-table td:nth-child(2) {
            width: 80%;
        }

        .feedback-table th:nth-child(3),
        .feedback-table td:nth-child(3) {
            width: 8%;
        }

.feedback-star {
    color: black;
    font-size: 25px;
}

.feedback-gold-star {
    color: gold;
}

select {
    padding: 8px;
    font-size: 12px;
    border: 1px solid gold;
    border-radius: 5px;
    margin-bottom: 1rem;
}

    
    select option:checked {
        background-color: #4CAF50;
        color: white;
    }

    select option:hover {
        background-color: gold; /* Change background color on hover */
    }
