table * {
    padding: 0.5rem;
}

.upcoming-div button {
    width: 80px;
}

tr {
    border: 1px solid black;
}

.container-flex {
    display: flex;
}

.upcoming-div {
    width: 50%;
    padding: 0 0.5rem;
}

.upcoming-div table {
    width: 100%;
}

.passed-div {
    width: 50%;
    padding: 0 0.5rem;
}

.passed-div table {
    width: 100%;
}

.header-div {
    padding: 0 0.5rem;
}

@media all and (max-width: 1300px) {
    .container-flex {
        flex-direction: column;
        align-items: center;
    }

    .upcoming-div,
    .passed-div {
        width: 100%;
        padding: 0.5rem 0;
    }

}

header {
    display: flex;
    align-items: center;
    font-size: calc(16px + (26 - 16) * ((100vw - 300px) / (1600 - 300)));
    background: #1474bb;
    color: #fff;
    min-height: 6.5vh;
    text-align: center;
    justify-content: space-around;
}

.feedback-flex {
    display: flex;
    flex-direction: column
}

#feedback-container {
    width: 100%;
    border: 1px solid black;
    margin: 0.5rem 0;
}
.feedback-text{
    margin: 0.5rem;   
    font-weight: bold;
}