@page "/"
@inject AuthenticationStateProvider authStateProvider
@inject IHttpContextAccessor _httpContextAccessor;
@inject HealthCare.Core.UserService.IUserService userService
@using HealthCare.Core.Models.AppointmentModels

<PageTitle>Index</PageTitle>
<div>
    <AuthorizeView>
        <Authorized>
            <div class="container">
            <h1>Hello, @context.User.Identity.Name!</h1>
            <p>@userName</p>

                <div class="mb-3">
                    <h3>Upcoming meetings</h3>
                </div>
            </div>


        </Authorized>
        <NotAuthorized>
            <h1>Hello, Guest!</h1>
        </NotAuthorized>
    </AuthorizeView>
</div>
@* <BookingComponent /> *@

@code {
    string userName = "";
    User LoggedInUser;
    

    protected override async Task OnInitializedAsync()
    {
        userName = await userService.GetEmailAsync();
        LoggedInUser = userService.GetByEmail(userName);
    }
}