table * {
    padding: 0.5rem;
}

.upcoming-div button {
    width: 80px;
}

tr {
    border: 1px solid black;
}

.container-flex {
    display: flex;
}

.upcoming-div {
    width: 50%;
    padding: 0 0.5rem;
}

.upcoming-div table {
    width: 100%;
}

.passed-div {
    width: 50%;
    padding: 0 0.5rem;
}

.passed-div table {
    width: 100%;
}

.header-div {
    padding: 0 0.5rem;
}

@media all and (max-width: 1300px) {
    .container-flex {
        flex-direction: column;
        align-items: center;
    }

    .upcoming-div,
    .passed-div {
        width: 100%;
        padding: 0.5rem 0;
    }

}

header {
    display: flex;
    align-items: center;
    font-size: calc(16px + (26 - 16) * ((100vw - 300px) / (1600 - 300)));
    background: #1474bb;
    color: #fff;
    min-height: 6.5vh;
    text-align: center;
    justify-content: space-around;
}

.feedback-flex {
    display: flex;
    flex-direction: column
}

#feedback-container {
    width: auto;
    max-width: 600px;
    min-width: 300px;
    border: 1px solid black;
    background-color: white;
    transition: 0.5s ease-in-out;
}

.feedback-text {
    margin: 0.5rem;
    font-weight: bold;
}

.feedback-outer-div {
    width: 100%;
    max-width: 600px;
    min-width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;

    /* Kanske fixa transition? */
    transition: 0.5s ease-in-out;
}

.blur-filter {
    filter: blur(1.4px);
}

#close-btn {
    position: absolute;
    width: 30px;
    right: 30px;
    cursor: pointer;
}

.feedback-btn {
    width: 130px;
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.rating input {
    display: none;
}

.rating label {
    cursor: pointer;
    font-size: 2.5rem;
    color: #ddd;
}

.rating label:hover,
.rating label:hover~label,
.rating input:checked~label {
    color: #ffbf00;
}

.rating input:checked~label:hover,
.rating input:checked~label:hover~label,
.rating input:checked~label {
    color: #ffd700;
}

.feedbackform {
    padding: 0 1rem;
}

.submit-feedback {
    margin: 1rem;
}