@*the AppointmentService is added in program.cs *@
@inject AppointmentService appointmentService
@*sets the component as a route, nav is changes to this route => see NavMenu*@
@page "/appointment"

<div class="appointment-flex">
    <div class="calendar">
        <header>
            <span @onclick="DecreaseMonth" class="month-change" title="Change month">&lt;</span>
            <h1 id="year-month">@yearMonth</h1>
            <span @onclick="IncreaseMonth" class="month-change" title="Change month">></span>

        </header>

        <ul class="weekdays">
            <li>
                <abbr title="S">Sunday</abbr>
            </li>
            <li>
                <abbr title="M">Monday</abbr>
            </li>
            <li>
                <abbr title="T">Tuesday</abbr>
            </li>
            <li>
                <abbr title="W">Wednesday</abbr>
            </li>
            <li>
                <abbr title="T">Thursday</abbr>
            </li>
            <li>
                <abbr title="F">Friday</abbr>
            </li>
            <li>
                <abbr title="S">Saturday</abbr>
            </li>
        </ul>

        <ol class="day-grid">
            @* <li class="month=prev">29</li>
            <li class="month=prev">30</li>
            <li class="month=prev">31</li> *@
            @foreach (var item in dayList)
            {
                <li class="date-day" tabIndex="-1" @onclick="() => HandleChosenDate(item)">@item</li>
            }
            @* <li class="month-next">1</li>
            <li class="month-next">2</li> *@
        </ol>

    </div>

    <div id="day-info">

        @* <p>@test</p> *@
    </div>
</div>

@* @if (appointmentDetails != null)
{
<p>@appointmentDetails.Details</p>
} *@

@code {
    private DateTime currentDate = DateTime.Now;
    private string yearMonth = "";
    private List<int> dayList = new();

    //Appointments for the date that the user has selected.
    private Appointment[] appointmentsForDate = {};

    protected override async Task OnInitializedAsync()
    {
        yearMonth = $"{currentDate.ToString("MMMM")} {currentDate.Year.ToString()}";
        dayList = GetDaysOfMonth(currentDate.Year, currentDate.Month).ToList();

        appointmentService.AddSampleData();
    }
    private void HandleChosenDate(int day)
    {
        var dateToCheck = new DateTime(currentDate.Year, currentDate.Month, day);
        appointmentsForDate = appointmentService.GetAppointmentsByDate(dateToCheck).ToArray();
    }
    private void LoadAppointment()
    {
    }
    private IEnumerable<int> GetDaysOfMonth(int year, int month)
    {
        int daysInMonth = DateTime.DaysInMonth(year, month);
        return Enumerable.Range(1, daysInMonth);
    }
    private void DecreaseMonth()
    {
        currentDate = currentDate.AddMonths(-1);
        yearMonth = $"{currentDate.ToString("MMMM")} {currentDate.Year.ToString()}.";
    }
    private void IncreaseMonth()
    {
        currentDate = currentDate.AddMonths(1);
        yearMonth = $"{currentDate.ToString("MMMM")} {currentDate.Year.ToString()}";
    }
}
