.history-table {
    width: 100%;
}
 
    .history-table table {
        width: 100%;
        border-collapse: collapse;
    }

    .history-table h3 {
        margin-top:4rem;
      
    }


    .history-table th, .history-table td {
        text-align: left;
        padding: 8px;
        border: 1px solid black;
    }

    .history-table th {
        background-color: #1474bb;
        color: white;
    }

        .history-table th:nth-child(1),
        .history-table td:nth-child(1) {
            width: 20%;
        }

        .history-table th:nth-child(2),
        .history-table td:nth-child(2) {
            width: 20%;
        }
        .history-table th:nth-child(3),
        .history-table td:nth-child(3) {
            width: 20%;
        }
        .history-table th:nth-child(4),
        .history-table td:nth-child(4) {
            width: 40%;
        }


.patient-info {
    border: 1px solid;
}
    .patient-info thead {
        background-color: #1474bb;
        color: white;
    }
    .patient-info th {
        padding: 3px 15px 3px 15px;
    }
    .patient-info td {
        
        padding: 3px 15px 3px 15px;
    }
    
.margin-btn{
    margin: 1rem 0 1rem 0;
}




