header {
    display: flex;
    align-items: center;
    font-size: calc(16px + (26 - 16) * ((100vw - 300px) / (1600 - 300)));
    margin-bottom: 1rem;
    background: #1474bb;
    color: #fff;
    min-height: 10vh;
    text-align: center;
    justify-content: space-around;
}

#header-div {
    max-width: 700px;
    min-width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#year-month {
    width: 350px;
}

.current-date {
    outline: 2px solid #1474bb;
}

.day-info{
    height: 100vw;
    margin-top: 1rem;
}

.day-info button,
.day-info select {
    margin-right: 1rem;
}

.day-info table {
    margin-top: 1rem;
}

ul,
ol {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 1em;
    margin: 0 auto;
    max-width: 64em;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-left: 0;
    font-size: calc(16px + (21 - 16) * ((100vw - 300px) / (1600 - 300)));
}

ol.day-grid li {
    background-color: #eaeaea;
    border: 1px solid #eaeaea;
    height: 12vw;
    max-height: 125px;
}

ul.weekdays abbr[title] {
    border: none;
    font-weight: 800;
    text-decoration: none;
}

ol.day-grid {
    background-color: #fff;
}

@media all and (max-width: 900px) {
    ul,
    ol {
        grid-gap: .25em;
    }

    ul.weekdays li {
        font-size: 0;
    }

    ul.weekdays>li abbr:after {
        content: attr(title);
        font-size: calc(16px + (26 - 16) * ((100vw - 300px) / (1600 - 300)));
        text-align: center;
    }
}

@media all and (max-width: 1500px) {
    .appointment-flex {
        flex-direction: column;
    }
}

.date-day {
    position: relative;
}

.date-day:hover {
    background-color: #1474bb !important;
    color: white !important;
    cursor: pointer;
}

.date-day-focus {
    background-color: #1474bb !important;
    color: white !important;
}

.appointment-flex {
    display: flex;
    margin-bottom: 1rem;
    flex-direction: column;
}

table {
    margin: auto;
    width: 100%;
}

table * {
    padding: 0.5rem;
}

table button {
    width: 80px;
}

tr {
    border: 1px solid black;
}

.hover-div {
    position: absolute;
    left: 5px;
    bottom: 5px;
    pointer-events: none;
}

.hover-div-text {
    white-space: nowrap;
}

.hover-div span {
    display: block;
    font-size: 1vw;
    font-size: clamp(14px, 1vw, 16px);
}
@media all and (max-width: 1064px) {
    .hover-div{
        display: none;
    }
}
.filter-container {
    margin-bottom: 1rem;
    width: auto;
    display: flex;
    align-items: center;
}

.name-filter {
    padding: 0.5rem;
    width: 300px
}
.drop-down-time{
    margin-left: 1rem;
}
.appointments-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    gap: 16px; 
}

.appointment {
    border: 1px solid #ccc; 
    padding: 16px; 
}
.appointment select{
    width: 170px;
}

    .appointment .doctor,
    .appointment .contact,
    .appointment .appointment-date,
    .appointment .select-service,
    .appointment .book-appointment {
        margin-bottom: 8px;
    }

.availability-flex {
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    
}
.availability-flex select{
    width: 300px;
}
@media (max-width: 1170px){
    .btn {
        font-size: 15px;
        margin-top: 5px;
        height:38px;
    }
    .availability-flex select {
        width: 240px;
        font-size: 13px;
        margin-top: 5px;
        height: 38px;
    }
}