@page "/login"


<head>
    <title>Login</title>
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
</head>

<div class="center-container">
    <div class="login">
        <h3>Login</h3>
        <EditForm Model="model" class="login-form">
            <label>User Name</label>
            <InputText @bind-Value="model.Email" class="form-control" placeholder="Email" type="email"
                       required />

            <label>Password</label>
            <InputText @bind-Value="model.Password" class="form-control" placeholder="Password" type="password"
                   required />

            <button class="btn btn-primary">Sign In</button>
            

            <p id="account-text">Don't have an account? <a href="/register">Sign up</a></p>


        </EditForm>
    </div>
</div>



@code {
    private class Model
    {
        public string Email { get; set; }
        public string Password { get; set; }
    }
    private Model model = new Model();
}
