@page "/accountsettings"

<div class="container">
    <div class="row">
        <div class="col-md-6 border p-3">
            <div class="mb-3">
                <h3>Account Settings</h3>
            </div>
            <form>
                <div class="mb-3">
                    <label>Email: </label>
                    <input type="email" class="form-control" value="user.berg.alex.h@hotmail.com" style="max-width: 300px">
                </div>
                <div class="mb-3">
                    <label>First Name: </label>
                    <input type="text" class="form-control" value="@* @user. *@FirstName" style="max-width: 300px">
                </div>
                <div class="mb-3">
                    <label>Last Name: </label>
                    <input type="text" class="form-control" value="@* @user. *@LastName" style="max-width: 300px">
                </div>
                @* @if (user is Patient) *@
                @* { *@
                <div class="mb-3">
                    <label>Gender: </label>
                    <input type="text" class="form-control" value="@* @user. *@Gender" style="max-width: 300px">
                </div>
                @* } *@
                @* else *@
                @* { *@
                <div class="mb-3">
                    <label>Role: </label>
                    <input type="text" class="form-control" value="@* user. *@Role" style="max-width: 300px">
                </div>
                @* } *@
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>

        <div class="col-md-6 border p-3">
            <div class="mb-3">
                <h3>Bookings</h3>
            </div>
            <div class="mb-3">
                <label>Upcoming booking: </label>
                <p>Upcoming meetings</p>
            </div>
            <div class="mb-3">
                <label>Previous booking: </label>
                <p>Previous meetings</p>
            </div>
        </div>
    </div>
</div>



@code {

        // Get user


}
